body {
	--colors-fill-default-wishlist: #ff61ea;
	--colors-fill-active-wishlist: #ff94f1;
}

body[wishlist-tab-state="open"] {
	overflow: hidden;
}

#button_wishlist[wishlist-state="true"] {
  --_Button_color: var(--colors-text-on-accent);
  --_Button_backgroundColor: var(--colors-fill-default-wishlist);
  --_Button--hover_backgroundColor: var(--colors-fill-active-wishlist);
  --_Button--active_backgroundColor: var(--colors-fill-default-wishlist);
  --_Button--disabled_backgroundColor: var(--colors-fill-disabled-primary);
}

#button_wishlist[wishlist-state="true"] span.add,
#button_wishlist:not([wishlist-state="true"]) span.remove {
	display: none;
}

body[wishlist-tab-state="open"] #megamenu_wishlistToggle .fabicon-heart,
body:not([wishlist-tab-state="open"]) #megamenu_wishlistToggle .fabicon-heart-filled,
[wishlist-id][wishlist-state="true"] .fabicon-heart,
[wishlist-id]:not([wishlist-state="true"]) .fabicon-heart-filled {
	display: none;
}

#megamenu_wishlistToggle .fabicon-heart-filled,
[wishlist-id] .fabicon-heart-filled {
	color: var(--colors-fill-default-wishlist);
}

#tab_wishlist {
  height: 0;
  width: 100%;
  background: var(--colors-background-elevated-low-default);
	opacity: 0;
	top: 72px;
	top: var(--DefaultLayout-header_size, 72px);
	position: fixed;
  z-index: 10;
  pointer-events: none;
  transition: opacity .35s ease, min-height 0s ease .35s;
  overflow: auto;
}

#tab_wishlist .title-sub { 
	margin-left: 5px;
}

body[wishlist-tab-state="open"] #tab_wishlist {
	opacity: 1;
  min-height: calc(100vh - 72px);
  min-height: calc(100vh - var(--DefaultLayout-header_size, 72px));
  transition: opacity .35s ease, min-height 0s ease;
  pointer-events: all;
}

#tab_wishlist:not([wishlist-count="0"]) .wishlist-message-empty,
#tab_wishlist:not([wishlist-filter-result="0"]) .wishlist-message-filter-zero {
	display: none;
}

#tab_wishlist[wishlist-filter-onsale="true"] .wishlist-listing:not(.wishlist-onsale),
#tab_wishlist[wishlist-filter="2d-asset"] .wishlist-listing:not([listing-category="2d-asset"]),
#tab_wishlist[wishlist-filter="3d-model"] .wishlist-listing:not([listing-category="3d-model"]),
#tab_wishlist[wishlist-filter="animation"] .wishlist-listing:not([listing-category="animation"]),
#tab_wishlist[wishlist-filter="atlas"] .wishlist-listing:not([listing-category="atlas"]),
#tab_wishlist[wishlist-filter="audio"] .wishlist-listing:not([listing-category="audio"]),
#tab_wishlist[wishlist-filter="brush"] .wishlist-listing:not([listing-category="brush"]),
#tab_wishlist[wishlist-filter="decal"] .wishlist-listing:not([listing-category="decal"]),
#tab_wishlist[wishlist-filter="education-tutorial"] .wishlist-listing:not([listing-category="education-tutorial"]),
#tab_wishlist[wishlist-filter="environment"] .wishlist-listing:not([listing-category="environment"]),
#tab_wishlist[wishlist-filter="game-system"] .wishlist-listing:not([listing-category="game-system"]),
#tab_wishlist[wishlist-filter="game-template"] .wishlist-listing:not([listing-category="game-template"]),
#tab_wishlist[wishlist-filter="hdri"] .wishlist-listing:not([listing-category="hdri"]),
#tab_wishlist[wishlist-filter="material"] .wishlist-listing:not([listing-category="material"]),
#tab_wishlist[wishlist-filter="smart-asset"] .wishlist-listing:not([listing-category="smart-asset"]),
#tab_wishlist[wishlist-filter="tool-and-plugin"] .wishlist-listing:not([listing-category="tool-and-plugin"]),
#tab_wishlist[wishlist-filter="ui"] .wishlist-listing:not([listing-category="ui"]),
#tab_wishlist[wishlist-filter="vfx"] .wishlist-listing:not([listing-category="vfx"]) { 
    display: none; 
}

#tab_wishlist_export:hover,
.wishlist-filter-button:hover { 
    background: var(--colors-fill-secondary-elevated-default); 
}
#tab_wishlist_export[aria-toggle="true"],
.wishlist-filter-button[aria-toggle="true"] { 
    background: var(--colors-fill-default-wishlist); 
}
#tab_wishlist_export[aria-toggle="true"]:hover,
.wishlist-filter-button[aria-toggle="true"]:hover { 
    background: var(--colors-fill-active-wishlist); 
}

#wishlist_import, #wishlist_export {
    height: 300px; 
}

#wishlist_import[aria-hidden="true"], #wishlist_export[aria-hidden="true"] {
	  display: none;
}

.wishlist-capitalize {
    text-transform: capitalize;
}

.wishlist-strikeout {
    text-decoration: strikeout;
}